* {
min-height: 0;
}

html {
    scroll-behavior: smooth;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: fixed !important;
    background-color: white;height: 2rem;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    margin-top: 0;
    top: 0;
}


section {
    min-height: 100vh;
    padding-top: 3rem;
    position: inherit;
}

#sobre {
    background-color: #5694FE;
}

#servicos {
    background-color: #9846FE;
}

#contato {
    background-color: #37D851;
}

